html {
  color: white;
}

a, a:hover {
  text-decoration: none;
}

/*Make container for main content*/
.page-content {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 30px;
}

.mdl-textfield {
  display: block;
}

div, p, span {
  font-size: 16px;
}

/*Nav*/
.demo-layout-transparent {
  background: url('../restaurant-woman.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.get-started {
  margin-top: 20px;
  margin-left: 20px;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised {
  background-color: #4CAF50;
}

@media only screen and (max-width: 1023px) {
  .page-content {
    padding-top: 20px;
  }
}

/*Footer*/

.mdl-mini-footer {
  padding-top: 15px;
  padding-bottom: 15px;
}

/*About*/

.card-wide.mdl-card {
  width: 512px;
}

@media only screen and (max-width: 600px) {
  .card-wide.mdl-card {
  width: 350px;
  }
}
