.logged-in {
  color: white;
}

.logged-out {
  color: black;
}

a, a:hover {
  text-decoration: none;
  color: rgb(63, 81, 181);
}

.logout:hover {
  cursor: pointer;
}

.dashboard {
  background-color: #CFD8DC;
}

/*Forms*/
.input-tag {
  margin-top: -18px;
  font-size: 14px;
  font-style: italic;
}

/*Make container for main content*/
.page-content {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 30px;
}

.mdl-textfield {
  display: block;
}

div, p, span {
  font-size: 16px;
}

/*Nav*/
.restaurant-woman {
  background: url('../restaurant-woman.jpg') center / cover;
}
.restaurant-woman .mdl-layout__header,
.restaurant-woman .mdl-layout__drawer-button {
  color: white;
}

.get-started {
  margin-top: 20px;
  margin-left: 20px;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised {
  background-color: #4CAF50;
}

@media only screen and (max-width: 1023px) {
  .page-content {
    padding-top: 20px;
  }
}

/*Footer*/

.mdl-mini-footer {
  padding-top: 15px;
  padding-bottom: 15px;
}

/*About*/

.card-wide.mdl-card {
  width: 512px;
}

@media only screen and (max-width: 600px) {
  .card-wide.mdl-card {
  width: 350px;
  }
}
@media screen and (max-width: 1024px) {
  .mdl-layout__drawer-button {
    color: white;
  }
  .mdl-layout__header-row .mdl-navigation {
    display: none;
  }
}
