/*Make container for main content*/
.page-content {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6,
p,
.mdl-list__item {
  color: white;
}

div, p, span {
  font-size: 16px;
}

/*Nav*/
.demo-layout-transparent {
  background: url('../restaurant-woman.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.get-started {
  margin-top: 20px;
  margin-left: 20px;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised {
  background-color: #4CAF50;
}

@media only screen and (max-width: 1023px) {
  .page-content {
    padding-top: 20px;
  }
}
