
/* Landing section */
.call-to-action-donate {
  font-size: 14px;
  padding: 0 16px;
  margin-right: 20px;
}

/* Ally section */
.alliesSection {
  div {
    margin: 1em 0px;
  }
  img {
    padding: 2em;
    padding-left: 4em;
    width: 100%;
    height: 100%;
  }
  h3 {
    text-align: left;
  }
  button {
    margin: 1em 0px 0px;
    background-color: #F99237;
    border-radius: 10px;
    border: none;
    padding: 25px;
    color: white;
  }
}

/* Programs */
.service-row {
  margin-bottom: 10px
}
.service-icon {
  padding-top: 5px;
  width: 12%;
  float: left;
}
.service-desc {
  width: 80%;
  float: right;
  text-align: left;
  h4 {
    text-align: left;
  }
}

@media (max-width: 575px) {
  #tf-services i.fa {
    font-size: 20px;
    width: 65px;
    height: 65px;
    padding: 20px 19px;
  }
}

/* Home Style */
#tf-home {
  background: url(../img/restaurant-woman.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #cfcfcf;
}

#tf-home .overlay {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
  height: 750px;
  background-attachment: fixed;
}

#tf-home p.lead {
  color: #e3e3e3;
}

.content {
  position: relative;
  padding: 15% 0 0;
}

a.fa.fa-angle-down {
  padding: 10px 15px;
  color: #fff;
  border: 2px solid #b4b4b4;
  border-radius: 50%;
  font-size: 24px;
  margin-top: 200px;
  transition: all 0.5s;
}

a.fa.fa-angle-down:hover {
  background: #fcac45;
  color: #ffffff;
  border: 2px solid #fcac45;
}

/* Team section */
.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  filter: Alpha(Opacity=1);
  opacity: 1;
  -webkit-border-radius: 0;
  -moz-border-radius: 20px;
  border-radius: 0;
  background: #FFFFFF;
  transition: all 0.5s;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  opacity: 1;
  background: #FCAC45;
}

.owl-theme .owl-controls .owl-page.active span {
  background: #FCAC45;
}

/* About Section */
#tf-about {
  padding: 80px 0 0;
  h2 {
    margin-bottom: 25px;
  }
}

ul.about-list{
  margin: 10px 0;
}

ul.about-list li {
  display: block;
  font-size: 16px;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
}

ul.about-list li span {
  margin-right: 10px;
}

.involved-title {
  font-weight: 700;
  color: #FCAC45;
}

.embed-responsive {
  margin: 25px 0;
}

@media (min-width: 768px) {
  .embed-responsive {
    width: 560px;
    height: 315px;
  }
  .embed-responsive-16by9 {
      padding-bottom: 25% !important;
    }
}

/* Team Section */
#tf-team {
  background: url(../img/happy-lady.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #ffffff;
}

#tf-team .overlay {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
  height: auto;
  background-attachment: fixed;
  padding: 80px 0;
}

.section-title.center {
  padding: 30px 0;
}

.section-title h2,
.section-title.center h2 {
  font-weight: 300;
}

.section-title.center .line {
  border-top: 4px solid #fcac45;
  height: 10px;
  width: 60px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

.section-title.center hr {
  border-top: 4px solid rgba(252, 172, 69, 0.34);
  width: 40px;
  text-align: center;
  margin-top: 10px;
  position: relative;
  left: 17%;
}

#team {
  margin: 0 auto;
}

#team .item {
  padding: 0;
  margin: 15px;
  color: #FFF;
  text-align: center;
}

img.img-circle.team-img {
  width: 120px;
  height: 120px;
  border: 4px solid transparent;
  transition: all 0.5s;
}

#tf-team .item .thumbnail:hover>img.img-circle.team-img{
  border: 4px solid #FCAC45;
}

#tf-team .thumbnail {
  background: transparent;
  border: 0;
}

#tf-team .thumbnail .caption {
  padding: 9px;
  color: #F2F2F2;
}

/* Get Involved */
#tf-testimonials {
  padding: 80px 0;
}

/* Footer Section */
#footer .subline {
  color: #9e9e9e !important;
  a {
    color: #9e9e9e !important;
  }
}
